.footer {
  color: white;
  background-color: #303841;

  &__top {
    font-family: "Dosis";
    color: #303841;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    h5 span {
      margin-left: 1rem;
    }
    ul,
    li {
      list-style-type: none;
      text-align: center;
      padding: 0;
      font-size: 1.2rem;
    }
    li a {
      text-decoration: none;
      color: #303841;
      line-height: 2rem;
      &:hover {
        color: rgba(0, 140, 255, 0.781);
      }
    }

    &-first,
    &-second,
    &-third {
      cursor: pointer;
      text-align: center;
      flex: 0.33;
      margin: 2rem 0;
      &-title {
        font-weight: bolder;
      }
    }
    &-second,
    &-third {
      margin-top: 0;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    a {
      color: white;
    }
    ul {
      list-style-type: none;
    }
    &-left {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
    }
    &-right {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .fa {
    padding: 20px;
    font-size: 2.5rem;
    width: 2.5rem;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border-radius: 50%;
  }
  .fa:hover {
    color: rgb(107, 107, 107);
    transition: 0.4s ease;
    transform: translateX(0.2rem);
  }
}

@include small {
  .footer {
    &__bottom {
      &-left {
        font-size: 1rem;
        flex-direction: row;
      }
    }
    .fa {
      margin: 0.1rem 0.5rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    &__top {
      display: flex;
      flex-direction: row;
      ul {
        display: block !important;
      }
      span {
        display: none !important;
      }

      &-first,
      &-second,
      &-third {
        cursor: context-menu;
        &-title {
          border-bottom: 2px solid #303841;
        }
      }
      &-second,
      &-third {
        margin-top: 2rem;
      }
    }
  }
}

@include tablet {
  .footer {
    &__top {
      padding: 0 3rem;
    }
  }
}

@include desk {
  .footer {
    &__top {
      flex-wrap: nowrap;
      padding: 0 10rem;
    }
  }
}
