.saved-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  margin: 1rem;
  padding: 1rem;

  &-title {
    font-weight: lighter;
  }
  &-button {
    text-align: center;
  }

  &-bottom {
    img {
      transform: rotate(0deg);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      max-width: 15rem;
      max-height: 30rem;
    }
  }
}

@include small {
  .saved {
    margin: 0 3rem;
  }
}

@include tablet {
  .saved {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .saved-card {
    flex-direction: row;
    flex: 1;
    max-height: 25rem;
    &-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex: 0.5;
      margin-right: 1rem;
    }
    &-bottom {
      flex: 0.4;
      img {
        max-width: 35rem;
        max-height: 20rem;
      }
    }
    &-button {
      flex: 0.1;
    }
  }
}
@include desk {
  .saved {
    margin: 2rem 10rem;
  }
}
