@import "./_partials/breakpoints";
@import "./_partials/header";
@import "./_partials/landing";
@import "./_partials/login";
@import "./_partials/footer";
@import "./_partials/models";
@import "./_partials/gallary";
@import "./_partials/discover";
@import "./_partials/garage";
@import "./_partials/contact";
@import "./_partials/vehicles";

body {
  margin: 0 1rem;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
@include desk {
  body {
    margin: 0 10rem;
  }
}
