/* media query for tablet */
/* media query for high pixel density desktops */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.header span {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.header a,
.header img {
  margin: auto 1rem;
}

.carousel-inner > .carousel-item > img {
  width: auto;
  height: auto;
  margin: auto;
}

.carousel-item {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.porsche-hover {
  color: white;
}

.porsche-hover:hover {
  color: #fb2851;
}

.ferrari-hover {
  color: white;
}

.ferrari-hover:hover {
  color: #e5b106;
}

.lambo-hover {
  color: white;
}

.lambo-hover:hover {
  color: #8ff983;
}

.mclaren-hover {
  color: white;
}

.mclaren-hover:hover {
  color: #f4623a;
}

.vehicle-make {
  z-index: 1000;
  position: absolute;
  top: 1vw;
  left: 1vw;
  margin: 0;
  -webkit-animation-name: textMotionMake;
          animation-name: textMotionMake;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.vehicle-make:hover {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transform: translateY(0.3vw) translateX(7.5vw) !important;
          transform: translateY(0.3vw) translateX(7.5vw) !important;
}

@-webkit-keyframes textMotionMake {
  0% {
    -webkit-transform: translateX(-1000vw);
            transform: translateX(-1000vw);
  }
  100% {
    -webkit-transform: translateX(7vw);
            transform: translateX(7vw);
    font-size: 5vw;
  }
}

@keyframes textMotionMake {
  0% {
    -webkit-transform: translateX(-1000vw);
            transform: translateX(-1000vw);
  }
  100% {
    -webkit-transform: translateX(7vw);
            transform: translateX(7vw);
    font-size: 5vw;
  }
}

.vehicle-ferrari {
  z-index: 1000;
  position: absolute;
  top: 10vw;
  left: 1vw;
  margin: 0;
  -webkit-animation-name: textMotionFerrari;
          animation-name: textMotionFerrari;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.vehicle-ferrari:hover {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transform: translateY(0.3vw) translateX(12.5vw) !important;
          transform: translateY(0.3vw) translateX(12.5vw) !important;
}

@-webkit-keyframes textMotionFerrari {
  0% {
    -webkit-transform: translateX(-1000vw);
            transform: translateX(-1000vw);
  }
  100% {
    -webkit-transform: translateX(12vw);
            transform: translateX(12vw);
    font-size: 5vw;
  }
}

@keyframes textMotionFerrari {
  0% {
    -webkit-transform: translateX(-1000vw);
            transform: translateX(-1000vw);
  }
  100% {
    -webkit-transform: translateX(12vw);
            transform: translateX(12vw);
    font-size: 5vw;
  }
}

.vehicle-porsche {
  position: absolute;
  z-index: 1000;
  -webkit-animation-name: textMotionPorsche;
          animation-name: textMotionPorsche;
  top: 7vw;
  left: 1vw;
  margin: 0;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.vehicle-porsche:hover {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transform: translateY(0.3vw) translateX(72vw) !important;
          transform: translateY(0.3vw) translateX(72vw) !important;
}

@-webkit-keyframes textMotionPorsche {
  0% {
    -webkit-transform: translateX(1000vw);
            transform: translateX(1000vw);
  }
  100% {
    -webkit-transform: translateX(72.5vw);
            transform: translateX(72.5vw);
    font-size: 5vw;
  }
}

@keyframes textMotionPorsche {
  0% {
    -webkit-transform: translateX(1000vw);
            transform: translateX(1000vw);
  }
  100% {
    -webkit-transform: translateX(72.5vw);
            transform: translateX(72.5vw);
    font-size: 5vw;
  }
}

.vehicle-lambo {
  z-index: 1000;
  position: absolute;
  -webkit-animation-name: textMotionLambo;
          animation-name: textMotionLambo;
  top: 0;
  left: 1vw;
  margin: 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.vehicle-lambo:hover {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transform: translateY(0.3vw) translateX(5.5vw) !important;
          transform: translateY(0.3vw) translateX(5.5vw) !important;
}

@-webkit-keyframes textMotionLambo {
  0% {
    -webkit-transform: translateX(-1000vw);
            transform: translateX(-1000vw);
  }
  100% {
    -webkit-transform: translateX(6vw);
            transform: translateX(6vw);
    font-size: 5vw;
  }
}

@keyframes textMotionLambo {
  0% {
    -webkit-transform: translateX(-1000vw);
            transform: translateX(-1000vw);
  }
  100% {
    -webkit-transform: translateX(6vw);
            transform: translateX(6vw);
    font-size: 5vw;
  }
}

.vehicle-lambo2 {
  z-index: 1000;
  position: absolute;
  -webkit-animation-name: textMotionLambo2;
          animation-name: textMotionLambo2;
  top: 3vw;
  left: 1vw;
  margin: 0;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.vehicle-lambo2:hover {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transform: translateY(0.3vw) translateX(65.5vw) !important;
          transform: translateY(0.3vw) translateX(65.5vw) !important;
}

@-webkit-keyframes textMotionLambo2 {
  0% {
    -webkit-transform: translateX(1000vw);
            transform: translateX(1000vw);
  }
  100% {
    -webkit-transform: translateX(65vw);
            transform: translateX(65vw);
    font-size: 5vw;
  }
}

@keyframes textMotionLambo2 {
  0% {
    -webkit-transform: translateX(1000vw);
            transform: translateX(1000vw);
  }
  100% {
    -webkit-transform: translateX(65vw);
            transform: translateX(65vw);
    font-size: 5vw;
  }
}

.vehicle-mclaren {
  z-index: 1000;
  position: absolute;
  top: 1vw;
  left: 1vw;
  margin: 0;
  -webkit-animation-name: textMotionMclaren;
          animation-name: textMotionMclaren;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes textMotionMclaren {
  0% {
    -webkit-transform: translateX(1000vw);
            transform: translateX(1000vw);
  }
  100% {
    -webkit-transform: translateX(60vw);
            transform: translateX(60vw);
    font-size: 5vw;
  }
}

@keyframes textMotionMclaren {
  0% {
    -webkit-transform: translateX(1000vw);
            transform: translateX(1000vw);
  }
  100% {
    -webkit-transform: translateX(60vw);
            transform: translateX(60vw);
    font-size: 5vw;
  }
}

.vehicle-p1 {
  z-index: 1000;
  position: absolute;
  -webkit-animation-name: textMotionMclaren;
          animation-name: textMotionMclaren;
  top: 7vw;
  left: 1vw;
  margin: 0;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes textMotionMclaren {
  0% {
    -webkit-transform: translateX(1000vw);
            transform: translateX(1000vw);
  }
  100% {
    -webkit-transform: translateX(78vw);
            transform: translateX(78vw);
    font-size: 5vw;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
}

.login__title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.login__welcome {
  text-align: center;
  margin-bottom: 1rem;
}

.login__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__button {
  width: 6rem;
  margin: 1rem;
}

@media only screen and (min-width: 993px) {
  .login {
    padding: 1rem 10rem;
  }
}

.footer {
  color: white;
  background-color: #303841;
}

.footer__top {
  font-family: "Dosis";
  color: #303841;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__top h5 span {
  margin-left: 1rem;
}

.footer__top ul,
.footer__top li {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 1.2rem;
}

.footer__top li a {
  text-decoration: none;
  color: #303841;
  line-height: 2rem;
}

.footer__top li a:hover {
  color: rgba(0, 140, 255, 0.781);
}

.footer__top-first, .footer__top-second, .footer__top-third {
  cursor: pointer;
  text-align: center;
  -webkit-box-flex: 0.33;
      -ms-flex: 0.33;
          flex: 0.33;
  margin: 2rem 0;
}

.footer__top-first-title, .footer__top-second-title, .footer__top-third-title {
  font-weight: bolder;
}

.footer__top-second, .footer__top-third {
  margin-top: 0;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

.footer__bottom a {
  color: white;
}

.footer__bottom ul {
  list-style-type: none;
}

.footer__bottom-left {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer .fa {
  padding: 20px;
  font-size: 2.5rem;
  width: 2.5rem;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border-radius: 50%;
}

.footer .fa:hover {
  color: #6b6b6b;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: translateX(0.2rem);
          transform: translateX(0.2rem);
}

@media only screen and (min-width: 440px) {
  .footer__bottom-left {
    font-size: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .fa {
    margin: 0.1rem 0.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__top ul {
    display: block !important;
  }
  .footer__top span {
    display: none !important;
  }
  .footer__top-first, .footer__top-second, .footer__top-third {
    cursor: context-menu;
  }
  .footer__top-first-title, .footer__top-second-title, .footer__top-third-title {
    border-bottom: 2px solid #303841;
  }
  .footer__top-second, .footer__top-third {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 993px) {
  .footer__top {
    padding: 0 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .footer__top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 10rem;
  }
}

.project {
  height: 300vh;
}

.project__title {
  font-size: 2.5rem;
  font-weight: bold;
}

.project__title-wrap {
  padding: 3rem 1rem 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mulish";
  font-style: italic;
}

.project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.project-tile-single {
  width: 100%;
  height: 70vw;
}

.project-tile-single-name {
  z-index: 1;
}

.project-tile-single a {
  font-weight: bold;
  text-decoration: none !important;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.project-tile-single a:hover span {
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.project-tile-single img {
  width: 100%;
  height: 87%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.project-tile-single img:hover {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.project-tile-single-name {
  color: black;
  background-color: white;
  font-size: 1.3rem;
  width: 100%;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-tile-single-name-ani {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #f20304;
}

.project__showAll {
  margin: 2rem auto;
  margin-bottom: 0;
  text-align: center;
  width: 10rem;
  background-color: #303841;
  color: white;
  font-size: 1.3rem;
  padding: 0.8rem 1rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project__showAll:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: #be3144;
  color: white;
}

.project__showAll:hover span {
  display: inline-block;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.project__showAlla {
  text-decoration: none !important;
}

@media only screen and (min-width: 993px) {
  .project-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .project-tile-single {
    width: 50%;
    height: 35vw;
  }
}

@media only screen and (min-width: 1440px) {
  .project-tile-single {
    width: 33.33%;
    height: 25vw;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(3vw);
            transform: translateX(3vw);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(3vw);
            transform: translateX(3vw);
  }
}

@-webkit-keyframes zoom {
  0% {
  }
  100% {
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom {
  0% {
  }
  100% {
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

#react-modal-image-img {
  opacity: 1 !important;
}

.small-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 0.8 !important;
}

.small-img:hover {
  opacity: 1 !important;
}

.gallary {
  width: 80vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  margin: auto auto;
  margin-bottom: 3rem;
}

.gallary-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallary-left-top {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  margin-bottom: 0.3rem;
}

.gallary-left-top-image {
  width: 100% !important;
  height: 100% !important;
}

.gallary-left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  margin-bottom: 0.3rem;
}

.gallary-left-bottom-left-image {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

.gallary-left-bottom-right-image {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  width: 100% !important;
  height: 100% !important;
}

.gallary-left-bottom-right-image div:first-child {
  width: 100% !important;
  height: 100% !important;
}

.gallary-left-bottom-left-image {
  margin-right: 0.3rem;
}

.gallary-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.gallary-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  margin-top: 0.3rem;
}

.gallary-right-top-right-image {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

.gallary-right-top-left-image {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  margin-right: 0.3rem;
  width: 100% !important;
  height: 100% !important;
}

.gallary-right-top-left-image div:first-child {
  width: 100% !important;
  height: 100% !important;
}

.gallary-right-bottom {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

@media only screen and (min-width: 1440px) {
  .gallary-left, .gallary-right {
    -webkit-box-flex: 0.45;
        -ms-flex: 0.45;
            flex: 0.45;
  }
  .gallary-left-bottom {
    margin-bottom: 0;
  }
  .gallary-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0.3rem;
  }
  .gallary-right-top {
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover-img {
  overflow: hidden;
}

.card {
  width: 20rem;
  margin: 1rem;
  overflow: hidden;
}

.card img:hover {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -moz-transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card-text {
  -webkit-line-clamp: 3;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.garage {
  text-align: center;
}

.garage__title {
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

.garage__app {
  width: 100%;
}

.garage__app-top {
  margin: 1.5rem 2rem;
}

.garage__app-top-menu {
  margin-top: 1rem;
}

.garage__app-top-menu:hover {
  cursor: pointer;
}

.garage__app-top-menu-title {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 1rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.garage__app-bottom-title {
  margin-bottom: 2rem;
}

.garage__collapse {
  list-style: none;
  padding: 0;
}

.garage__collapse li {
  border-bottom: 1px solid #dbdbdb;
  padding: 1rem 0;
}

.garage__collapse a {
  text-decoration: none;
  color: grey;
}

.garage__car-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid grey;
  margin: 1rem;
  padding: 1rem;
}

.garage__car-card-yourcar {
  font-weight: lighter;
}

.garage__car-card-button {
  width: 100%;
}

.garage__car-card-button button {
  margin: 1rem 1rem;
}

.garage__car-card-bottom img {
  transform: rotate(0deg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
  max-width: 15rem;
  max-height: 30rem;
}

@media only screen and (min-width: 440px) {
  .garage {
    margin: 0 3rem;
  }
}

@media only screen and (min-width: 993px) {
  .garage__app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .garage__app-top {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
  }
  .garage__app-bottom {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
  }
}

@media only screen and (min-width: 1440px) {
  .garage {
    margin: 2rem 2rem;
  }
  .garage__app {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .garage__app-top {
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
    max-width: 25rem;
  }
  .garage__app-bottom {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
  .garage__car-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-height: 25rem;
    max-width: 65rem;
  }
  .garage__car-card-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 1rem;
  }
  .garage__car-card-bottom img {
    max-width: 37.5rem;
    max-height: 20rem;
  }
  .garage__car-card-button {
    -webkit-box-flex: 0.1;
        -ms-flex: 0.1;
            flex: 0.1;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 3rem;
}

.contact__title {
  margin: 1rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__description {
  margin-bottom: 1rem;
}

.contact__description2 {
  width: 80vw;
}

.contact label {
  font-weight: bold;
  margin-top: 1rem;
}

#name,
#email,
#dropdown,
#comment {
  width: 60vw;
  margin: 0;
  height: 3rem;
}

#comment {
  min-height: 10rem;
}

.radio-div {
  margin: 0.2rem 0;
}

@media only screen and (min-width: 993px) {
  .contact {
    margin: 2rem 20%;
  }
  .contact__description2 {
    width: 60vw;
  }
}

@media only screen and (min-width: 1440px) {
  .contact {
    margin: 2rem 30%;
  }
  .contact__description2 {
    width: 50vw;
  }
  #name,
  #email,
  #dropdown,
  #comment {
    width: 50vw;
  }
}

.vehicles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.vehicles__models {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.vehicles__title {
  font-family: "Mulish";
  font-style: italic;
  margin: 2rem;
  font-size: 1.5rem;
}

.vehicles__sub-title {
  font-family: "Mulish";
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.vehicles__searchbyModel {
  margin: 1rem 0;
  width: 40%;
}

.vehicleCard {
  max-width: 23rem;
  max-height: 50rem;
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: center;
  outline: 0.1rem solid grey;
  border: 0.3rem solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.vehicleCard:hover {
  outline: 0.1rem solid transparent;
  border: 0.3rem solid #0198fa;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.vehicleCard__title {
  text-align: left;
  font-size: 1rem;
}

.vehicleCard__msrp {
  font-size: 1rem;
  color: grey;
}

.vehicleCard__imgD {
  height: 30%;
  max-height: 30rem;
}

.vehicleCard__imgD img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.vehicleCard__imgD img:hover {
  transform: rotate(0deg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
}

.vehicleCard__btn {
  margin: 0.1rem;
  font-size: 0.8rem;
}

.btn-group.btn-group-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.btn-group.btn-group-toggle label {
  min-width: 10rem;
  -webkit-box-flex: 0.24;
      -ms-flex: 0.24;
          flex: 0.24;
  border-radius: 0;
  margin: 0.2rem;
}

@media only screen and (min-width: 440px) {
  .vehicles {
    margin: 2rem;
  }
  .vehicles__title {
    font-size: 1.8rem;
  }
  .vehicles__sub-title {
    font-size: 1.5rem;
  }
  .vehicleCard {
    padding: 1rem;
    margin: 1rem;
  }
  .vehicleCard__title {
    font-size: 1.5rem;
  }
  .vehicleCard__imgD {
    height: 15rem;
  }
  .vehicleCard__btn {
    margin: 0.3rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .vehicles {
    margin: 2rem 8%;
  }
}

.spinner-wrap {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dealer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.dealer__title {
  font-family: "Mulish";
  font-style: italic;
  text-align: center;
  margin: 4rem;
}

.dealer div:first-child {
  width: 100% !important;
}

.dealer__list {
  margin: 2rem 1rem;
  font-family: "Raleway";
  line-height: 2.5rem;
  max-width: 30rem;
}

.dealer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dealer__info {
  text-align: end;
  margin: 1rem 2rem;
  color: grey;
}

.dealer__info-address {
  color: black;
}

.dealer__info-tel, .dealer__info-fax {
  color: rgba(31, 149, 245, 0.918);
}

.infoWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoWindow__img {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.infoWindow__img img {
  width: 100%;
  height: 100%;
}

.infoWindow__desc {
  margin-left: 1rem;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.gm-style-iw.gm-style-iw-c {
  max-width: 35rem !important;
}

.gm-style-mtc {
  display: none;
}

@media only screen and (min-width: 700px) {
  .gm-style-mtc {
    display: block;
  }
}

@media only screen and (min-width: 993px) {
  .infoWindow__img {
    display: block;
    text-align: right;
  }
  .dealer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dealer div:first-child {
    -webkit-box-flex: 0.5 !important;
        -ms-flex: 0.5 !important;
            flex: 0.5 !important;
  }
  .dealer__list {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    margin-left: 2rem;
    min-width: 30rem;
  }
}

.api {
  text-align: center;
}

.api__vehicles {
  margin: 1rem;
}

.api__vehicles-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transmission {
  display: inline-block;
}

@media only screen and (min-width: 440px) {
  .api {
    margin: 2rem 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .api {
    margin: 2rem 10rem;
  }
}

.warranty {
  margin: 2rem;
}

.warranty__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 10vw;
  background-color: #eeecec;
}

.warranty__detail-head {
  margin: 0;
  font-weight: bold;
}

@media only screen and (min-width: 440px) {
  .warranty {
    margin: 2rem 5rem;
  }
}

@media only screen and (min-width: 993px) {
  .warranty__detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1440px) {
  .warranty {
    margin: 2rem 14rem;
  }
}

.finance {
  margin: 2rem;
  text-align: center;
}

.finance__lotto-type {
  margin-top: 2rem;
}

.finance__lotto-numbers {
  text-align: center;
  margin: 0.2rem;
  width: 1.8rem;
  height: 2.2rem;
}

.finance__lotto-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.finance__lotto-buybutton {
  margin: 2rem;
}

@media only screen and (min-width: 993px) {
  .finance {
    margin: 2rem 10rem;
  }
}

@media only screen and (min-width: 1440px) {
  .finance {
    margin: 2rem 18rem;
  }
}

.saved-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid grey;
  margin: 1rem;
  padding: 1rem;
}

.saved-card-title {
  font-weight: lighter;
}

.saved-card-button {
  text-align: center;
}

.saved-card-bottom img {
  transform: rotate(0deg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
  max-width: 15rem;
  max-height: 30rem;
}

@media only screen and (min-width: 440px) {
  .saved {
    margin: 0 3rem;
  }
}

@media only screen and (min-width: 993px) {
  .saved {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .saved-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-height: 25rem;
  }
  .saved-card-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    margin-right: 1rem;
  }
  .saved-card-bottom {
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
  }
  .saved-card-bottom img {
    max-width: 35rem;
    max-height: 20rem;
  }
  .saved-card-button {
    -webkit-box-flex: 0.1;
        -ms-flex: 0.1;
            flex: 0.1;
  }
}

@media only screen and (min-width: 1440px) {
  .saved {
    margin: 2rem 10rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */